* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* !===================================== 1 ex ===================================== */
.container-1ex {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.btn-1ex {
  margin-right: 10px;
  padding: 15px;
  border-radius: 10%;
  font-size: 20px;
}
/* !===================================== 1 ex ===================================== */

/* !===================================== 2 ex ===================================== */
#datetime-picker {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 10px;
}
.input-area-2ex {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.btn-2ex {
  padding: 5px 10px;
  text-transform: uppercase;
}
.value {
  font-size: 30px;
  font-weight: 700;
}
.timer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.field{
  display: flex;
  margin-right: 20px;
}
.label {
  text-transform: uppercase;
  margin-left: 5px;
}
/* !===================================== 2 ex ===================================== */